<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.60.0.0" targetFramework="native" />
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="glfw" version="3.1.2" targetFramework="native" />
  <package id="glfw.redist" version="3.1.2" targetFramework="native" />
  <package id="glm" version="0.9.7.1" targetFramework="native" />
  <package id="sdl2.v140" version="2.0.4" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
</packages>